<div class="mt-5 ml-5 w-96" data-controller="spotify" data-spotify-uri-value=<%= @episode.uri %>>
  <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
  <div id="embed-iframe" data-spotify-target="episode"></div>
  
  <div class="mb-5">
    <%= link_to "Listen on Spotify", @episode.external_urls['spotify'], target: "_blank", class: "bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-700 focus:outline-none focus:shadow-outline-green active:bg-green-800" %>
  </div>
<div data-controller="turbo-interceptor">
  <%= turbo_stream_from @episode.id %>
  <ul id="-list" role="list" class="space-y-6">
    <div id="comment-list">
    <%= render CommentComponent.with_collection(@comments) %>
    </div>
  </ul>
  <%= render 'comments/form', comment: @comment, episode: @episode.id %>
</div>
