<div class="p-10">
  <h1 class="font-bold text-4xl">Podcasts#search</h1>
  <%= form_with(url: podcasts_search_path, method: :get, data: {turbo_frame: "podcasts"}) do |form| %>

  <%= form.label :query, "Search Podcast:", class: "block mb-2" %>
    <div class="flex space-x-3">
      <%= form.text_field :query, value: @query, class: "py-3 px-4 rounded border ring-0 focus:ring-4 focus:ring-grey-500 focus:shadow-none focus:border-gray-1000 focus:outline-none" %>

      <%= form.submit 'Search', class: "px-4 py-3 font-medium
    bg-gray-300 text-neutal-900 rounded flex items-center cursor-pointer hover:bg-gray-400 focus:ring-4 ring-0 focus:ring-gray-100" %>
    </div>
  <% end %>

  <% if @pagy.present? %>
    <div class="mt-4">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>

  <ul role="list" class="divide-y divide-gray-100">
    <%= render PodcastComponent.with_collection(@podcasts) %>
  </ul>

  <% if @pagy.present? %>
    <div class="mt-4">
      <%== pagy_nav(@pagy) %>
    </div>
  <% end %>
</div>
